Datasets
wandb
outputs
*.pyc
*.csv
wandb/*
*.log

ICML_paper/__MACOSX/

ICML_paper/icml_udl2020_style/
.vscode
UTKFace/

ICML_paper/

plots.ipynb

FollowupExperiments.ods

.~lock.FollowupExperiments.ods#

*.zip

WineQuality/winequality.names

BikeSharing/

scriptBiC1_2.sh

scriptBiC1_3.sh

scriptBiC1.sh

scriptBiC2_2.bash

scriptBiC2_3.bash

scriptBiC2.bash

scriptBiD3_1.sh

scriptBiD3_2.sh

scriptBiD3_3.sh

scriptBiD3_4.sh

scriptBiD3_5.sh

scriptBiD3_6.sh

scriptBiG1.sh

scriptNBiD1a025.sh

scriptNBiD1a05.sh

scriptNBiD2a025.sh

scriptNBiD2a05.sh

scriptNBiD3a025co1000.sh

scriptNBiD3a025co100000.sh

scriptNBiD3a025co20000.sh

scriptNBiD3a025co5000.sh

scriptNBiD3a05co1000.sh

scriptNBiD3a05co100000.sh

scriptNBiD3a05co20000.sh

scriptNBiD3a05co5000.sh

scriptNBiD3a1co1000.sh

scriptNBiGamma05.sh

scriptNBiGamma1.sh

scriptNBiGammaCo10000.sh

scriptNBiGammaCo100000.sh

scriptNBiGammaCo20000.sh

scriptNBiGammaCo40000.sh

scriptNBiGammaCo5000.sh

scriptNBiGammaGT.sh

scriptNBiH1a1_bs128_mu10k.sh

scriptNBiH1a1_bs128_mu20k.sh

scriptNBiH1a1_bs128_mu5k.sh

scriptNBiH1a1_bs16_mu10k.sh

scriptNBiH1a1_bs16_mu20k.sh

scriptNBiH1a1_bs16_mu5k.sh

scriptNBiH1a1_bs256_mu10k.sh

scriptNBiH1a1_bs256_mu5k.sh

scriptNBiH1a1_bs32_mu10k.sh

scriptNBiH1a1_bs32_mu20k.sh

scriptNBiH1a1_bs32_mu5k.sh

scriptNBiH1a1_bs64_mu10k.sh

scriptNBiH1a1_bs64_mu20k.sh

scriptNBiH1a1_bs64_mu5k.sh

scriptNBiH2a1_bs128_mu10k.sh

scriptNBiH2a1_bs128_mu20k.sh

scriptNBiH2a1_bs128_mu5k.sh

scriptNBiH2a1_bs16_mu10k.sh

scriptNBiH2a1_bs16_mu20k.sh

scriptNBiH2a1_bs16_mu5k.sh

scriptNBiH2a1_bs256_mu10k.sh

scriptNBiH2a1_bs256_mu5k.sh

scriptNBiH2a1_bs32_mu10k.sh

scriptNBiH2a1_bs32_mu20k.sh

scriptNBiH2a1_bs32_mu5k.sh

scriptNBiH2a1_bs64_mu10k.sh

scriptNBiH2a1_bs64_mu20k.sh

scriptNBiH2a1_bs64_mu5k.sh
